<h1> Vox Mails </h1>
<h2> Bem vindo ao Vox Mails. </h2>
<p> Insira aqui a sua planilha com os dados dos dubladores. </p>
<form action="<%= attachments_path %>" method="post" enctype="multipart/form-data">
  <input type="file" id="csv-file" name="csv_file" />
  <p> <input type="submit" value="Enviar anexo" /> </p>
</form>